*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'JapanRich Regular';
    src: url('font/JapanRich-Regular.otf') format('opentype');
}

.new-top-bar{
    background-color: #202426;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 2px solid white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 4px red;
}

.entregas_s{
    width: 20px;
    margin-right: 10px;
}

.logo_bar{
    width: 70px;
    margin-right: 0px;
}

.navbar{
    background-color: #F8485E;
}

.nav-link{
    list-style: none;
    letter-spacing: .1em;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: aliceblue;
    margin-left: 30px;
}

body{
    background-image: url("images/background.png"); background-size: cover;
    color: aliceblue;
    text-shadow: 2px 2px 4px #3F2021;
}

.img-rounded-start{
    display: flex;
    width: 500px;
    box-shadow: 2px 2px 4px red;
    transition: transform 0.4s
}

.img-rounded-start:hover{
    transform: scale(1.03);
}

.card{
    margin: 40px;
    background-color: #202426;
    color: aliceblue;
    box-shadow: 3px 3px 6px #F8485E;
    margin-bottom: 20px;
    margin-right: 20px;
}

.btn{
    cursor: pointer;
    animation: pulse 1s infinite alternate; 
}

@keyframes pulse {
    0% {
      transform: scale(1); 
    }
    100% {
      transform: scale(1.05); 
    }
}

.card-title{
    text-shadow: 3px 3px 6px red;
    font-family: 'JapanRich Regular', sans-serif;    
}

.card-text-price{
    color: aliceblue;
    text-shadow: 2px 2px 4px red;
    font-size: 0.9em;
}

.titlegeneral {
    text-align: center;
    margin: 60px;
    font-family: 'JapanRich Regular', sans-serif;
}
  
.title1 {
    font-size: 3em;
}

.titlesecondary{
    text-align: center;
    margin: 20px;
    margin-top: 80px;
    font-family: 'JapanRich Regular', sans-serif;
}

input[type="email"], input[type="checkbox"], button {
    display: block;
    margin-bottom: 10px;
}

.check{
    display: flex;
    gap: 15px;
}

